{% extends 'C:\Users\Usuario\Desktop\Buces-Project-Django\buces\ProyectoWebApp\templates\ProyectoWebApp\base.html' %}

{% block titleh1 %} Contacto {% endblock %} 

{% block content %}
    <div class="contenedorFormulario">
        <h1 class="text-center text-white" style="text-transform: uppercase; line-height: 1; font-family: 'Raleway'; margin: 15px;">Dejanos tus dudas</h1>
        {% if "valido" in request.GET %}

            <p class="alert alert-success text-center">Informacion enviada correctamente</p>


        {% endif %}
        <form action="" method="POST" style="text-align: center;">
            {% csrf_token %}
            <table style="color: white; margin: 20px auto;" >{{miFormulario.as_table}}</table>
            <input type="submit" value="Enviar" style="width: 150px">
        </form>
    </div>


{% endblock %}