{% extends 'C:\Users\Usuario\Desktop\Buces-Project-Django\buces\ProyectoWebApp\templates\ProyectoWebApp\base.html' %}

{% block titleh1 %} BUCES {% endblock %}

{% block content %}
{% load static %}
<div class="container intro-text left-0 text-center bg-faded p-5 rounded" style="margin: 5px auto">
    <h1 class="section-heading mb-4 text-center">Politica de privacidad</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum porro unde officiis repellendus, magni, voluptatem animi, non voluptatibus adipisci accusantium quasi fugit sed dolorum? Modi numquam commodi blanditiis officia maiores.</p>
</div>
<div class="container intro-text left-0 text-center bg-faded p-5 rounded" style="margin: 5px auto">
    <h1 class="section-heading mb-4 text-center">Aviso Legal</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum porro unde officiis repellendus, magni, voluptatem animi, non voluptatibus adipisci accusantium quasi fugit sed dolorum? Modi numquam commodi blanditiis officia maiores.</p>
</div>
<div class="container intro-text left-0 text-center bg-faded p-5 rounded" style="margin: 5px auto">
    <h1 class="section-heading mb-4 text-center">Cookies</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum porro unde officiis repellendus, magni, voluptatem animi, non voluptatibus adipisci accusantium quasi fugit sed dolorum? Modi numquam commodi blanditiis officia maiores.</p>
</div>
{% endblock %}